.gemini
*.ipynb
**/.ipynb_checkpoints/
.ipynb_checkpoints
/Papers
*.RData
.Rproj.user
/.Rtmp/
EMC2.Rcheck/
EMC2_*.tar.gz
tests/testthat/_problems/
src/*.o
src/*.so
/DDM_Censoring
plan.md
samples_*.RData
